#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=br --xlayouts='br'
# System language
lang pt_BR.UTF-8 --addsupport=en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=172.16.8.1 --ip=172.16.8.242 --nameserver=172.16.8.40 --netmask=255.255.254.0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$b5YS0goM4opsmm9E$d9NeDdYgpC.91t9NIje3wZqLy7gD7j0m8kU7Y9vU.RvVdrQ4X2bnJkfKZKejm8N4EinZrI/up3s3MeLFOJPzk.
# System services
services --enabled="chronyd"
# System timezone
timezone America/Sao_Paulo --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
